<%- include('header'); -%>
<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div>
<script type="text/javascript" src="/js/home.js"></script>