<%- include('header'); -%>
<ul class="breadcrumb mt-4">
    <li class="breadcrumb-item"><a href="/dashboard">Users</a></li>
    <li class="breadcrumb-item active"><span id="breadcrumb-name"></span></li>
</ul>
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4 class="heading-small text-muted mb-4">User information</h4>
            <div id="profile-content"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/profile.js"></script>