# Logs
logs
*.log
npm-debug.log*

.idea/
.DS_Store

# Dependency directories
node_modules
package-lock.json

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

#temp terraform files
.terraform
.terraform.lock*
terraform.tfstate*
